.AppGroup-container {
  background: rgba(167, 162, 162, 0.8);
  backdrop-filter: saturate(180%) blur(10px);
  padding: 15px;
  border-radius: 50px;
  width: fit-content;
  max-width: fit-content;
  justify-content: center;
  display: flex;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .AppGroup-container {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.AppIcon-container {
  border-radius: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 25px;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.FrostedWindow-container {
  background: rgba(167, 162, 162, 0.8);
  backdrop-filter: saturate(180%) blur(10px);
  padding: 15px;
  border-radius: 50px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .AppGroup-container {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
